body {
    background-color: #b6ffb6;
    font-family: Arial, Helvetica, sans-serif;
}


#wraper {
    margin: auto;
    background-color: #85d685;
    width: 80%;
    padding: 20px
}

div {
    border: px solid;
    margin: 0px;
}

h4 {
    margin: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;

}

.nav-bar {
    display: flex;
    margin: 0;
    height: 20px;
    align-items: flex-end;
    border: 2px solid #36ef36;
}

.nav {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.nav li {
    list-style: none;
    margin: 0 5px 0 5px;

}

.cover-image {
    text-align: center;
    margin: 25px 0 25px 0;
}


.box {
    display: flex;
    padding: 30px 0 0 0;
    justify-content: space-between;
}

.atas,
.bawah {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 25px 0;
}

.logo-icon {
    margin: 0 25px 0 0;
}

.kiri,
.tegah,
.kanan {
    width: 300px;
    margin-bottom: -25px;
}



.book {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 20px 0;

}

li {
    list-style: none;
    color: #0f5c0f
}

.img-side {
    width: 50%;
    margin: 0 20px 0 0;
}

.lastt {
    display: flex;
    justify-content: space-between;
    margin: 25px 0 25px 0;
    background-color: ;
}

.sub-list {
    display: flex;
    flex-direction: column;
}

.listt {
    display: flex;
    margin: 0;
    justify-content: space-between
}



.listt ol {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;

}

.contac-folow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.subb {
    padding: 0 0 10px 0;
}

.btn {
    width: 200px;
    margin: 0 0 0 30px;
}

.folow {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0px;
    width: 400px;

}

.fb {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin:
}

.rss {
    display: flex;
    justify-content: space-between;
}

#footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

.data-dir {
    display: flex;
    justify-content: space-between;
}

.app-msg {
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

.folow p {
    margin: 0 0 0 15px;
}

.f-field {
    width: 500px;

}



.med-logo {
    width: 40px
}

input,
textarea {

    border-radius: 5px;
    margin: 5px 0 15px 0;
}

input {
    height: 30px;
}

.confirm {

    width: 150px;
    padding: 0;

}

.radio-box {
    display: flex;
    width: 100px;
    justify-content: space-between;
    flex-direction: row;


}
hr{
    border: 1px solid #0f5c0f;
}
.l-radio {
    margin: 0;
}

label {
    padding: 10px;

}

radio {
    width: 30px;
}



.cal-us p,
.like-us p {
    margin: 0 0 5px 0;
}



.like-us {
    margin-top: 15px
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}

.copy p {
    margin: 0;
}

.foot-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    text-decoration: none;
    color: #1509a2;
}
a:hover{
    color: #5042f0;
}
a:active{
    color: #8b82f3
}
